.main-container {
	margin: 100px auto;
	width: 500px;
	height: 500px;
	overflow: hidden;
}
.img-container {
	display: flex;
	transform: translateX(0);
	transition: transform 0.5s linear;
}
img {
	width: 500px;
	height: 500px;
	object-fit: cover;
}
